<%= render 'shared/navbar' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Setlist Organizer</title>
  </head>
  <body>
    <div class='container'>

      <div class="row">
        <div class="col-md-4">
          <h2>Setlists</h2>
          <h5><%= link_to 'Create a setlist', new_setlist_path %></h5>
          <ul>
            <% @setlists.each do |setlist| %>
              <li><%= link_to "#{setlist.name}", setlist_path(setlist) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-8">
          <%= image_tag("cheese_telluride.png", class:"image") %>
        </div>
      </div>

    </div>
  </body>
</html>