<div ng-app='JamList'>
  <div ng-controller='MainCtrl'>

    <section class='col-md-6' ng-init='tab = 1'>
      <ul class="nav nav-pills">
        <li ng-class="{ active:tabSelected(1) }">
          <a ng-click="selectTab(1)">Setlists</a>
        </li>
        <li ng-class="{ active:tabSelected(2) }">
          <a ng-click="selectTab(2)">Songs</a>
        </li>
      </ul>
      <br>
      <!-- setlists -->
      <div class="panel panel-default" ng-show="tabSelected(1)">
        <div class='panel-body'>
            <form class='form-inline' ng-submit='addSetlist()'>
              <div class='form-group'>
                <label for="new-setlist">Name: </label>
                <input type="text" class='form-control' id='new-setlist'
                  ng-model='newSetlist.name' placeholder='new setlist'>
                <button class='btn btn-default'>
                  <span class='glyphicon glyphicon-plus'</span>
                </button>
              </div>
            </form>
            <br>
            <ul>
              <li ng-repeat="setlist in setlists">{{ setlist.name }}</li>
            </ul>
        </div>
      </div>
      <!-- songs -->
      <div class="panel panel-default" ng-show="tabSelected(2)">
        <div class='panel-body'>
          <form class='form-inline' ng-submit='addSong()'>
            <div class='form-group'>
              <label for="new-song-title">Title: </label>
              <input type="text" class='form-control' id='new-song-title'
                ng-model='newSong.title' placeholder='new song title'>
              <label for="new-song-artist"> Artist: </label>
              <input type="text" class='form-control' id='new-song-artist'
                ng-model='newSong.artist' placeholder='new song artist'>
              <button class='btn btn-default'>
                <span class='glyphicon glyphicon-plus'</span>
              </button>
            </div>
          </form>
          <br>
          <label>Sort:&nbsp</label>
          <a ng-click="sortSongBy = 'title'"><strong>title</strong>&nbsp|</a>
          <a ng-click="sortSongBy = 'artist'"><strong>artist</strong></a>
          <br>
          <ul>
            <li ng-show="sortSongBy === 'artist'"
              ng-repeat='song in songs | orderBy:sortSongs()'>
              <a ng-click='getLyrics(song)'>
                {{ song.artist }} - {{ song.title }}
              </a>
            </li>
            <li ng-show="sortSongBy === 'title'"
              ng-repeat='song in songs | orderBy:sortSongs()'>
              <a ng-click='getLyrics(song)'>
                {{ song.title }} - {{ song.artist }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class='col-md-6'>
      <ul class="nav nav-pills">
        <li>
          <a href='#'>Lyrics</a>
        </li>
      </ul>
      <br>
      <div class="panel panel-default">
        <div class='panel-body'>
          <iframe src='http://www.fark.com' style='overflow-hidden'></iframe>
        </div>
      </div>

    </section>

  </div>
</div>